html {
  margin: 0;
  padding: 0;
  background: #80ffbb; /*005f2c*/
  background: -webkit-linear-gradient(to right,#009947, #80ffbb);
  background:    -moz-linear-gradient(to right,#009947, #80ffbb);
  background:         linear-gradient(to right,#009947,#80ffbb);
}

body {
  margin: 0 auto;
  padding: 0;
}

·app{
  margin: 0 auto;
}
  