html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #80ffbb; /*005f2c*/
  background: -webkit-linear-gradient(to right,#009947, #80ffbb);
  background:    -moz-linear-gradient(to right,#009947, #80ffbb);
  background:         linear-gradient(to right,#009947,#80ffbb);
}

·app{
  margin: 0;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-overlay {
  background-color: rgba(255, 255, 255, 0.212);
}

.swal-modal {
  /*border: 3px solid #009947;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swal-button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #00cc5f;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}  

.swal-button:active {
  background-color: #009947;
}  